In [ ]:
a=int(input())
print(a*2)